.custom-position {
    right: -16rem;
}

.custom-recycle-position {
    top: 20rem;
    right: -5rem;
    width: 15rem;
}

.custom-mountain-position {
    left: 0;
    bottom: 0;
    height: 37rem;
}

.custom-wind-position {
    top: 20rem;
    left: -9rem;
    width: 18rem;
}

.custom-ellipse-position {
    left: -5rem;
    width: 10rem;
}

.custom-background {
    background-color: #40A858;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}